CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_tiny=y
CONFIG_TARGET_ath79_tiny_DEVICE_tl-mr3420-v2=y

CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-hid=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y

CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_kmod-usb-net=y 
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_udev=y

CONFIG_PACKAGE_kmod-usb-hid=y
CONFIG_PACKAGE_kmod-usb-audio=y
#CONFIG_PACKAGE_ffmpeg=y
CONFIG_PACKAGE_mpd-full=y
CONFIG_PACKAGE_mpc=y
CONFIG_PACKAGE_alsa-utils=y
CONFIG_PACKAGE_mount-utils
CONFIG_PACKAGE_block-mount

CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libwolfssl=y
CONFIG_PACKAGE_triggerhappy=y

#CONFIG_PACKAGE_luci-theme-netgear=y

CONFIG_PACKAGE_luci-app-eqos=y

CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y

CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y

CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y

CONFIG_PACKAGE_php7=y
CONFIG_PACKAGE_php7-cgi=y
CONFIG_PACKAGE_php7-fastcgi=y
CONFIG_PACKAGE_php7-mod-ctype=y
CONFIG_PACKAGE_php7-mod-curl=y
CONFIG_PACKAGE_php7-mod-exif=y
CONFIG_PACKAGE_php7-mod-fileinfo=y
CONFIG_PACKAGE_php7-mod-ftp=y
CONFIG_PACKAGE_php7-mod-gd=y
CONFIG_PACKAGE_php7-mod-gettext=y
CONFIG_PACKAGE_php7-mod-hash=y
CONFIG_PACKAGE_php7-mod-iconv=y
CONFIG_PACKAGE_php7-mod-json=y
CONFIG_PACKAGE_php7-mod-mbstring=y
CONFIG_PACKAGE_php7-mod-session=y
CONFIG_PACKAGE_php7-mod-xml=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-core=y
